* {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
}

#container {
    width: 90%;
    margin: 0 auto;
}


#left {
    display: flex;
    background-color:aquamarine;
}

#right {
    display: flex;
    row
    background-color: burlywood;
}

#boton1 {

    border: groove;
    width: 50%;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
}

#boton2 {
    margin-top: 30px;
    border: groove;
    width: 50%;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
}


#boton3 {
    margin-top: 30px;
    border: groove;
    width: 50%;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(5, 175, 197);
    text-align: center;

}

.titulo {
    color: black;
    font-size: 70px;

}

.subtitulo {
    color: black;
    font-size: 30px;
}

.boton {
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;


}

.boton1 {
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;



}

.txt-center {
    margin-top: 10px;
    margin-left: 30%;
}

.text {
    width: 300px;
    font-size: small;
}
